@using WebApplication1.ViewModels;
@model ResultViewModel;

@{
    Layout = "_Layout"; 
    var m = ViewBag.CurrentMatch;
}
<style>
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="file"],
    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
<link rel="stylesheet" href="~/css/creatematch.css" />
<div class="container">
    <h1>Завершение матча</h1>
    <form asp-controller="Event" asp-action="ConfirmMatch" asp-route-id="@m.Id" method="post">
        <div>
            <label>Счёт:</label>
            <input asp-for="Score" />
        </div>
        <div class="dropdown">
            @Html.DropDownListFor(m => m.Winner, Model.Options, "Выберите победителя", new { @class = "dropdown-btn", required = "required" })
        </div>
        <table>
            <thead>
                <tr>
                    <th>Ник</th>
                    <th>Килы</th>
                    <th>Смерти</th>
                    <th>Помощи</th>
                    <th>Хэдшоты</th>
                </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Players1.Count; i++)
            {
                <tr>
                    <td>@Model.Players1[i].Player.Nickname</td>
                    <td><input type="number" asp-for="Players1[i].Kills" /></td>
                    <td><input type="number" asp-for="Players1[i].Deaths" /></td>
                    <td><input type="number" asp-for="Players1[i].Assists" /></td>
                    <td><input type="number" asp-for="Players1[i].Headshots" /></td>
                </tr>
            }
            @for (int i = 0; i < Model.Players2.Count; i++)
            {
                <tr>
                    <td>@Model.Players2[i].Player.Nickname</td>
                    <td><input type="number" asp-for="Players2[i].Kills" /></td>
                    <td><input type="number" asp-for="Players2[i].Deaths" /></td>
                    <td><input type="number" asp-for="Players2[i].Assists" /></td>
                    <td><input type="number" asp-for="Players2[i].Headshots" /></td>
                </tr>
            }
            </tbody>
        </table>
        <button class="submit-btn" type="submit">Закончить матч</button>
    </form>
</div>
