@model WebApplication1.ViewModels.EventViewModel
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/createevent.css" />
<body>
    <div class="container">
        <h2>Создание события</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Загрузите фото:</label>
                <input type="file" asp-for="Image" required />
            </div>
            <div class="form-group">
                <label>Введите имя</label>
                <input asp-for="Name" required />
            </div>
            <div class="form-group">
                <label>Начало</label>
                <input type="date" asp-for="StartDate" required />
            </div>
            <div class="form-group">
                <label>Конец</label>
                <input type="date" asp-for="EndDate" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>
</body>
