@model WebApplication1.ViewModels.EventViewModel

@{
    Layout = "_Layout"; 
    var e = ViewBag.CurrentEvent;
}
<link rel="stylesheet" href="~/css/createevent.css" />
<body>
    <div class="container">
        <h2>Редактирование события</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Загрузите фото:</label>
                <input type="file" asp-for="Image" />
            </div>
            <div class="form-group">
                <label>Введите имя</label>
                <input value="@e.Name" asp-for="Name" />
            </div>
            <div class="form-group">
                <label>Начало</label>
                <input value="@e.StartDate" type="date" asp-for="StartDate" />
            </div>
            <div class="form-group">
                <label>Конец</label>
                <input value="@e.EndDate" type="date" asp-for="EndDate" />
            </div>
            <div class="form-group">
                <input value="Отправить" type="submit">
            </div>
        </form>
    </div>
</body>
