@model WebApplication1.ViewModels.PlayerViewModel

@{
    Layout = "_Layout"; 
    var player = ViewBag.CurrentPlayer;
}
<link rel="stylesheet" href="~/css/createplayer.css" />
<body>
    <div class="container">
        <h1>Редактирование игрока</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Загрузите фото:</label>
                <input type="file" asp-for="Image" />
            </div>
            <div class="form-group">
                <label for="title">Введите ник</label>
                <input value="@player.Nickname" asp-for="Nickname" />
            </div>
            <div class="form-group">
                <label for="title">Введите имя</label>
                <input value="@player.Name" asp-for="Name" />
            </div>
            <div class="form-group">
                <label for="title">Возраст:</label>
                <input value="@player.Age" asp-for="Age" />
            </div>
            <div class="form-group">
                <input value="Отправить" type="submit">
            </div>
        </form>
    </div>
</body>
