@model WebApplication1.ViewModels.PlayerViewModel

@{
    var player = ViewBag.CurrentPlayer;
}

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="title">Загрузите фото:</label>
        <input type="file" asp-for="Image" />
    </div>
    <div>
        <label for="title">Введите ник</label>
        <input value="@player.Nickname" asp-for="Nickname" />
    </div>
    <div>
        <label for="title">Введите имя</label>
        <input value="@player.Name" asp-for="Name" />
    </div>
    <div>
        <label for="title">Возраст:</label>
        <input value="@player.Age" asp-for="Age" />
    </div>
    <button type="submit">Upload</button>
</form>
