@model WebApplication1.ViewModels.NewsViewModel
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/createnews.css" />
<body>
    <div class="container">
        <div class="news-form">
            <h1>Создать новость</h1>
            <form asp-controller="News" asp-action="CreateNews" method="post">
                <div class="form-group">
                    <label for="title">Заголовок:</label>
                    <input asp-for="Title" required/>
                </div>
                <div class="form-group">
                    <label for="content">Содержание:</label>
                    <textarea asp-for="Content" required></textarea>
                </div>
                <div class="from-group">
                    <input class="btn" type="submit">
                </div>
            </form>
        </div>
    </div>

</body>