@model WebApplication1.ViewModels.UserViewModel
@{
    Layout = "_Layout"; 
}
<link rel="stylesheet" href="~/css/login.css" />

<body>
    <div class="container">
        <h2>Вход</h2>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div>
                <label>
                    Имя пользователя:
                </label>
                <input asp-for="Username" placeholder="Введите имя пользователя" required/>
                <span asp-validation-for="Username"></span>
            </div>
            <div>
                <label>Пароль:</label>
                <input asp-for="Password" type="password" placeholder="Введите пароль" required/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <input type="submit">
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</body>