@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/adminindex.css" />
<body>
    <h1>Панель Админа</h1>
    <div class="buttons">
        <button onclick="location.href='@Url.Action("Users","Admin")'">Пользователи</button>
        <button onclick="location.href='@Url.Action("CreateTeam","Team")'">Добавить команду</button>
        <button onclick="location.href='@Url.Action("CreatePlayer","Player")'">Добавить игрока</button>
        <button onclick="location.href='@Url.Action("CreateEvent","Event")'">Добавить событие</button>
    </div>
</body>