<a asp-controller="Account" asp-action="Logout">Logout</a>
<a asp-controller="Home" asp-action="Index">Index</a>
<a asp-controller="Admin" asp-action="Users">Users</a>
<a asp-controller="Team" asp-action="CreateTeam">AddTeam</a>
<a asp-controller="Player" asp-action="CreatePlayer">AddPlayer</a>
<a asp-controller="Event" asp-action="CreateEvent">AddEvent</a>