body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.photo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 250px;
    height: 150px; 
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

    .photo-item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 10px;
        border: none;
    }

    .photo-item .details {
        display: flex;
        flex-direction: column;
    }

        .photo-item .details .title {
            font-weight: bold;
            margin-bottom: 5px;
            word-wrap: break-word;
        }

        .photo-item .details .date {
            font-size: 12px;
            color: #888;
            margin: 2px 0;
        }

.title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

    .title-container h1 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

.item-actions {
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translateY(-50%);
}

    .item-actions i {
        margin-left: 10px;
        cursor: pointer;
    }