
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    z-index: 1;
}

.event-container {
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
}

.event-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.event-image {
    position: relative;
    z-index: 1;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-info {
    text-align: center;
    margin-bottom: 20px;
}

.event-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.event-date {
    font-size: 16px;
    color: #666;
}

.match-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .match-container table {
        width: 100%;
        max-width: 800px;
        border-collapse: collapse;
    }

        .match-container table tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px solid #ddd;
        }

        .match-container table th,
        .match-container table td {
            padding: 10px;
            text-align: left;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .match-container table th {
            background-color: #f2f2f2;
        }

        .match-container table td img {
            max-width: 50px;
            height: auto;
        }

        .match-container table td a {
            display: inline-block;
            margin: 0 5px;
            color: #333;
        }

            .match-container table td a:hover {
                color: #007bff;
            }

            .match-container table td a i {
                font-size: 16px;
            }

.all-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.team-section-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.team-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .team-logos .team-logo {
        margin: 10px;
        max-height: 50px;
        max-width: 50px;
    }

.image-container {
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .input-group input[type="text"] {
        flex-grow: 1;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

.input-group .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .input-group .btn:hover {
        background-color: #555;
    }

.butn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

    .butn button:hover {
        background-color: #45a049;
    }