@{
    Layout = "_Layout";
}
<a asp-controller="Account" asp-action="Logout">Logout</a>
<a asp-controller="Home" asp-action="Index">Index</a>
<a asp-controller="News" asp-action="CreateNews">CreateNews</a>
<h1>Hello</h1>
